.card-container {
    margin-top: 40px;
}

h1 {
    font-size: 3em;
}

.no-favs-message {
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    background-color: #2d445b;
}