$main-font-color: #feda4a;

main {
  margin: 0;
  padding: 0;
  background-image: url("../../Images/space\ wallpaper.jpg");
  background-repeat: no-repeat;
  // background-size: cover;
}

h1 {
  margin: 0;
  color: $main-font-color;
}
