@import url("https://fonts.googleapis.com/css?family=Jura:500,700&display=swap");

.fav-R2D2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.favorites-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d445b;
  border-radius: 11px 11px;
  border: hidden;
  font-size: 1em;
  height: 36px;
  width: 100%;
  color: aliceblue;
  box-shadow: 0 0 8px #fff, -1px 0 8px rgb(255, 140, 0),
    1px 0 8px rgb(0, 30, 255);
}

.star-img {
  height: 35px;
}

.favorites-btn:hover {
  box-shadow: 0 0 15px #fff, -3px 0 18px hsl(134, 100%, 50%),
    3px 0 18px hsl(134, 100%, 50%);
}
