$main-font-color: #feda4a;

%fav-btn-shared {
    background: url('../../Images/star3.png') no-repeat center center;
    background-size: 50%;
    border: hidden;
    color: white;
    font-weight: bold;
    height: 60px;
    width: 60px;
}

.fav-btn-active {
    @extend %fav-btn-shared;
    background-size: 90%;
}

.fav-btn {
    @extend %fav-btn-shared;
}

.cards {
    box-shadow:
        0 0 8px #fff,
        -1px 0 8px rgb(255, 140, 0), 
        1px 0 8px rgb(0, 30, 255);
    border-radius: 10%;
    color: $main-font-color;
    padding: 15px;
    display: inline-flex;
    margin: 2%;
    padding-top: 0;
    height: 325px;
    width: 25%;
}


.cards:hover  {
    box-shadow:
        0 0 15px #fff,
        -3px 0 18px rgb(255, 140, 0), 
        3px 0 18px rgb(0, 30, 255);
}

.fav-card {
    box-shadow:
        0 0 10px #fff,
        -2px 0 12px hsl(134, 100%, 50%), 
        2px 0 12px hsl(134, 100%, 50%);
}

.fav-card:hover {
    box-shadow:
        0 0 15px #fff,
        -3px 0 18px hsl(134, 100%, 50%), 
        3px 0 18px hsl(134, 100%, 50%);
}

h2.name {
    font-size: 1.5em;
    margin: 0;
}
